.surveyTitle {
    margin: 0.2rem;
    color: teal;
    display: inline-block;
}

.dispInline{
    display: inline-block;
}

.input{
    color: #006d6d;
    /*margin: 0.5rem;*/
    height: 1.4rem;
    margin: 0 1.5rem 0.3rem 0.5rem;


}

.boxBorder{
    border-style: groove;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0.5rem;
}

.options{
    color: white;
    background: teal;
}

.options a:hover {
    background-color: #9cd05a !important;
}

.button {
    padding: 0.2rem 2rem;
    display:inline-block;
    width: 6rem;
    color: white;
    background: teal;
    margin-right: 1rem;
    height: 1.9rem;
}

.dropdown{
    width: 10rem;
    height: 2rem;
    margin: 0 1.5rem 0.1rem 1.5rem;
    color: #006d6d;
}

.rt-tbody{
    color:teal;
}

.alert{
    border-style: dashed;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0.5rem;
    color: #ff0136;
}